<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="150001" value="123" />
    <add key="150002" value="321" />
    <add key="150003" value="222" />
    <add key="delete_orig" value="0" />
  </appSettings>
</configuration>
